.p,
.span {
	margin: 0;
}

.p.small {
	font-size: 14px;
	line-height: 24px;
}

.p.medium {
	font-size: 16px;
	line-height: 24px;
}

.p.large {
	font-size: 18px;
	line-height: 24px;
}

.span {
	font-size: 1rem;
}

.h1,
.h2,
.h3,
.h4 {
	margin: 0;
	padding: 0;

	font-weight: 500;
}

.h1 {
	font-size: 26px;
	line-height: 35px;
}

.h2 {
	font-size: 22px;
	line-height: 30px;
}

.h3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.h4 {
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
}
