.input {
	padding: 7px 15px;

	color: var(--black);
	border: none;

	border-radius: 5px;
	outline-color: var(--primary);
	background: #FFF;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

	font-family: var(--font-family);
	font-size: 16px;
	line-height: 22px;
}

.input::placeholder {
	color: var(--gray);
}

.error {
	border: 1px solid var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;

	color: var(--red);

	font-size: 14px;
}

.inputWrapper {
	position: relative;

	width: 100%;
}
