
.benefitsTitle {
	margin-bottom: 24px;
}

.benefits {

}

.benefit {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 40px;

	margin-bottom: 42px;
}

.left {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.benefitIcon {
	min-width: 50px;
	min-height: 50px;
}

.devider {
	width: 1px;
	height: 100%;
	margin-top: 17px;

	background-color: #D2D2D2;
}

.benefitTitle {
	margin-bottom: 20px;

	font-size: 20px;
}

@media (max-width: 576px) {
	.benefit {
		gap: 25px;
	}

	.benefitTitle {
		margin-bottom: 15px;

		font-size: 17px;
	}

	.benefitPar {
		font-size: 16px !important;
	}
}

.skillsTitle {
	margin-top: 30px;
	margin-bottom: 20px;
}

.skill {
	margin-bottom: 8px;
}

.seo h1,
.seo h2,
.seo h3,
.seo h4 {
	margin: 0;
	padding: 0;

	font-weight: 500;
}

.seo h1 {
	font-size: 26px;
	line-height: 35px;
}

.seo h2 {
	font-size: 22px;
	line-height: 30px;
}

.seo h3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}
