.button {
	display: inline-block;

	box-sizing: border-box;
	padding: 10px;

	cursor: pointer;
	transition: all 0.2s;
	text-align: center;

	border: none;
	border-radius: 5px;

	font-size: 14px;
}

.primary {
	color: var(--white);
	background-color: var(--primary);
}

.primary:hover {
	background-color: var(--primary-hover);
}

.ghost {
	color: var(--black);
	border: 1px solid var(--gray-light);
	background-color: transparent;
}

.ghost:hover {
	color: var(--white);
	background-color: var(--primary);
}

.arrow {
	display: inline-block;

	margin-left: 10px;

	transition: all 0.2;
}

.down {
	transition: all 0.2;
	transform: rotate(90deg);
}

.primary svg,
.ghost:hover svg {
	transition: all 0.2;
	fill: var(--white);
}
