.review {
	display: grid;

	align-items: center;

	font-size: 14px;
	line-height: 24px;
	grid-template-columns: [start] auto 1fr auto auto [end];
	gap: 10px;
}

.description {
	grid-column: start / end;

	margin: 0;
}

.date {
	margin-right: 10px;
}

.name {
	font-weight: bold;
}

@media screen and (max-width: 843px) {
	.review {
		grid-template-columns: [start] 30px auto 1fr [end];
	}

	.userData {
		grid-column: 2 / end;
	}

	.date {
		grid-column: start / 3;
	}
}

@media screen and (max-width: 640px) {
	.review {
		grid-template-columns: [start] 30px auto 1fr [end];
	}

	.date {
		grid-column: start / 3;
	}
}

@media screen and (max-width: 375px) {
	.date {
		grid-column: start / end;
	}

	.rating {
		grid-column: start / end;
	}
}
