.layout {
	display: grid;
	grid-template-columns: auto 230px minmax(330px, 1200px) auto;
	grid-template-rows: auto 1fr auto;

	gap: 30px 30px;

	min-height: 100vh;
	grid-template-areas:
		". header header ."
		". sidebar main ."
		"footer footer footer footer";
}

.header {
	grid-area: header;

	display: none;
}

.sidebar {
	grid-area: sidebar;
}

.main {
	grid-area: main;

	padding: 0 15px;

	outline: none;
}

.footer {
	grid-area: footer;
}

.skipLink {
	position: fixed;
	top: 0;
	left: 100px;

	display: block;
	overflow: hidden;

	height: 0;

	color: var(--white);
	background: var(--primary);
}

.displayed {
	height: auto;
}

@media (max-width: 765px) {
	.sidebar {
		display: none;
	}

	.header {
		display: grid;
	}

	.layout {
		grid-template-columns: minmax(330px, 1fr);
		grid-template-areas:
			"header"
			"main"
			"footer";
		gap: 10px;
	}
}
