.footer {
	color: var(--white);
	background-color: var(--primary);
}

.inner {
	display: grid;
	align-items: center;
	justify-content: space-between;

	max-width: 1570px;
	margin: 0 auto;
	padding: 27px 32px;
	grid-template-columns: 1fr auto auto;
	gap: 10px 40px;
}

.inner a:hover {
	color: var(--gray-light);
}

.rights,
.agreement,
.privacy,
.linksText {
	font-size: 16px;
	line-height: 22px;
}

@media (max-width: 765px) {
	.inner {
		grid-template-columns: 1fr;

		padding: 27px 15px;

		text-align: center;
	}
}
