.button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 40px;
	height: 40px;

	cursor: pointer;
	transition: background-color 0.3s;

	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

.primary {
	background-color: var(--primary);
}

.primary svg * {
	fill: var(--white);
}

.primary:hover {
	background-color: var(--primary-hover);
}

.white {
	background-color: var(--white);
}

.white svg * {
	transition: fill 0.3s;
	fill: var(--primary);
}

.white:hover {
	background-color: var(--primary);
}

.white:hover svg * {
	fill: var(--white);
}
