.wrapper {

}

.title {
	display: grid;
	grid-template-columns: auto 1fr auto;

	align-items: baseline;
	justify-items: left;
	gap: 20px;

	margin-bottom: 30px;
}

.hhTitle {
	display: grid;
	align-items: baseline;

	margin-top: 35px;

	margin-bottom: 24px;
	grid-template-columns: auto 1fr;
	justify-items: left;
	gap: 20px;
}

@media screen and (max-width: 640px) {
	.title {
		grid-template-columns: auto 1fr;
	}
}
