.up {
	position: fixed;
	right: 30px;
	bottom: 30px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 40px;
	height: 40px;

	cursor: pointer;
	transition: background-color 0.3s;

	border: none;
	border-radius: 10px;
	background-color: var(--primary);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

.up:hover {
	background-color: var(--primary-hover);
}
