.filled svg {
	fill: var(--primary);
}

.star {
	display: inline-block;

	padding-right: 5px;
}

.editable {
	cursor: pointer;
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;

	color: var(--red);

	font-size: 14px;
}

.ratingWrapper {
	position: relative;
}

.error svg {
	stroke: var(--red);
}
