.hh {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 30px;

	margin-bottom: 47px;
}

.hhCount {
	padding: 20px;

	text-align: center;
}

.hhStatTitle,
.salaryValue {
	margin-bottom: 12px;
}

.hhStatTitle {
	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
}

.salaryValue {
	font-size: 26px;
	font-weight: bold;
	line-height: 35px;
}

.hhCountValue {
	color: var(--primary);

	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
}

.salary {
	display: grid;

	padding: 20px;

	text-align: center;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px 0;
}

.salary > div:not(:last-child) {
	border-right: 1px solid var(--gray-light);
}

.rate {
	display: grid;
	grid-template-columns: repeat(3, 20px);
	gap: 10px;

	justify-content: center;
}

.filled circle {
	fill: var(--red);
}

@media (max-width: 1200px) {
	.hh {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 576px) {
	.salary {
		grid-template-columns: 1fr;
	}

	.salary > div:not(:last-child) {
		padding-bottom: 20px;

		border-right: none;
		border-bottom: 1px solid var(--gray-light);
	}
}
