.product {
	display: grid;
	grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];

	margin-top: 30px;
	padding: 30px;
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title,
.tags {
	grid-column: titlestart / middle;
}

.price,
.priceTitle {
	grid-column: pricestart / priceend;

	white-space: nowrap;
}

.credit,
.creditTitle {
	grid-column: creditstart / creditend;
}

.rating,
.rateTitle {
	grid-column: ratestart / end;

	white-space: nowrap;
}

.rateTitle a {
	color: var(--primary);
}

.hr,
.description,
.actions {
	grid-column: start / end;
}

.features {
	grid-column: start / middle;
}

.logo img {
	border-radius: 5px;
}

.title {
	align-self: flex-end;

	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.price,
.credit {
	align-self: flex-end;

	font-size: 20px;
	line-height: 27px;
}

.rating {
	align-self: flex-end;
}

.creditTitle,
.priceTitle,
.rateTitle {
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.month {
	font-size: 14px;
}

.oldPrice {
	margin-left: 5px;
}

.category {
	margin-top: 7px;
}

.description {
	margin-bottom: 15px;

	font-size: 16px;
	line-height: 24px;
}

.reviewBtn {
	margin-left: 20px;
}

.advBlock {
	font-size: 16px;
	grid-column: middle / end;

	line-height: 22px;
}

.advTitle {
	margin-bottom: 5px;

	font-weight: bold;
}

.advantages,
.disadvantages {
	padding-left: 15px;
}

.advantages {
	margin-bottom: 20px;

	border-left: 2px solid #1DC37E;
}

.disadvantages {
	border-left: 2px solid var(--red);
}

.characteristics {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 10px;

	padding-right: 60px;

	font-size: 16px;
	line-height: 32px;
}

.characteristicsName {
	font-weight: bold;
}

.characteristicsDots {
	align-self: center;

	border-bottom: 1px dashed var(--gray-light);
}

@media screen and (max-width: 1360px) {
	.product {
		grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
		grid-template-areas: "logo . title title title title title"	"logo . tags tags tags tags tags"	"price price price . credit . rating"	"priceTitle priceTitle priceTitle . creditTitle . rateTitle" "hr hr hr hr hr hr hr" "description description description description description description description" "features features features features features features features" "advBlock advBlock advBlock advBlock advBlock advBlock advBlock" "hr2 hr2 hr2 hr2 hr2 hr2 hr2" "actions actions actions actions actions actions actions";
	}

	.characteristics {
		padding-right: 0;
	}

	.hr {
		grid-area: hr;
	}

	.description {
		grid-area: description;
	}

	.logo {
		grid-area: logo;

		margin-bottom: 20px;
	}

	.title {
		grid-area: title;
	}

	.price {
		grid-area: price;
	}

	.tags {
		grid-area: tags;

		margin-bottom: 20px;
	}

	.actions {
		grid-area: actions;
	}

	.features {
		grid-area: features;

		margin-bottom: 20px;
	}

	.hr2 {
		grid-area: hr2;
	}

	.advBlock {
		grid-area: advBlock;
	}

	.credit {
		grid-area: credit;
	}

	.priceTitle {
		grid-area: priceTitle;
	}

	.creditTitle {
		grid-area: creditTitle;
	}

	.rating {
		grid-area: rating;
	}

	.rateTitle {
		grid-area: rateTitle;
	}
}

.reviews {
	padding: 30px;
}

@media screen and (max-width: 920px) {
	.product {
		grid-template-areas: "logo . title title title title title""logo . tags tags tags tags tags""price price price . credit credit credit""priceTitle priceTitle priceTitle . creditTitle creditTitle creditTitle""rating rating rating rating rating rating rating""rateTitle rateTitle rateTitle rateTitle rateTitle rateTitle rateTitle""hr hr hr hr hr hr hr""description description description description description description description""features features features features features features features""advBlock advBlock advBlock advBlock advBlock advBlock advBlock""hr2 hr2 hr2 hr2 hr2 hr2 hr2""actions actions actions actions actions actions actions";
	}

	.rating {
		margin-top: 20px;
	}
}

@media screen and (max-width: 640px) {
	.product {
		grid-template-columns: 70px 30px 1fr;
		grid-template-areas: "logo . title""logo . tags""priceTitle priceTitle price""creditTitle creditTitle credit""rateTitle rateTitle rating""hr hr hr""description description description""features features features""advBlock advBlock advBlock ""hr2 hr2 hr2 ""actions actions actions";
	}

	.price,
	.credit,
	.rating,
	.priceTitle,
	.rateTitle,
	.creditTitle {
		margin-bottom: 10px;
	}

	.rating {
		margin-top: 0;
	}
}

@media screen and (max-width: 480px) {
	.product {
		grid-template-columns: 1fr;

		padding: 15px;
		grid-template-areas: "logo""title""tags""price""priceTitle""credit""creditTitle""rating""rateTitle""description""features""advBlock""hr2""actions";
	}

	.price,
	.credit,
	.rating {
		margin-bottom: 10px;
	}

	.reviews {
		padding: 15px;
	}
}

@media screen and (max-width: 380px) {
	.reviewBtn {
		margin-top: 10px;
		margin-left: 0;
	}
}
