
.firstLevel {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;

	align-items: center;

	margin-top: 20px;
}

.firstLevelList {
	padding: 0;

	list-style: none;
}

.firstLevelActive svg {
	fill: var(--primary);
}

.firstLevelActive svg,
.firstLevelActive {
	transition: all 0.3;
}

.firstLevel:hover svg,
.firstLevel:hover {
	transition: all 0.3;

	color: var(--primary);
	fill: var(--primary);
}

.firstLevelTrigger {
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
}

.firstLevelActive {
	color: var(--primary);
}

.secondBlock {
	margin-top: 15px;
	margin-left: 12px;
	padding: 0 0 0 32px;

	list-style: none;

	border-left: 1px solid #DFDFDF;
}

.secondLevel {
	margin-bottom: 10px;
	padding: 0;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);
	border: none;
	background: transparent;

	font-size: 12px;
	font-weight: 300;
}

.secondLevelBlock {
	overflow: hidden;

	padding: 0;

	list-style: none;
}

.thirdLevel {
	display: block;

	margin-bottom: 10px;

	cursor: pointer;
	white-space: nowrap;

	color: var(--gray-dark);

	outline-offset: -1px;

	font-size: 14px;
	font-weight: 600;
}

.thirdLevelActive,
.thirdLevel:hover {
	transition: all 0.3s;

	color: var(--primary);
}
