.sortIcon {
	display: none;
}

.active .sortIcon {
	display: inline-block;
}

.sort {
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
}

.sort button {
	display: grid;
	align-items: center;

	cursor: pointer;

	color: #000;
	border: none;
	background-color: transparent;

	font-size: 16px;
	line-height: 22px;
	grid-template-columns: 1fr;
	gap: 8px;
}

.sort .active {
	color: var(--primary);

	font-weight: bold;
	grid-template-columns: 20px 1fr;
}

.sortName {
	display: none;
}
