.tag {
	display: inline-block;

	margin-right: 5px;

	border-radius: 20px;
}

.tag.small {
	padding: 5px 12px;

	font-size: 12px;
	line-height: 12px;
}

.tag.medium {
	padding: 5px 12px;

	font-size: 14px;
	line-height: 14px;
}

.ghost {
	border: 1px solid var(--gray-light);
}

.red,
.gray {
	color: var(--white);

	font-weight: bold;
}

.red {
	background: #DE0000;
}

.gray {
	background: #51648C;
}

.green {
	color: var(--green);
	background: var(--green-light);

	font-weight: bold;
}

.primary {
	color: var(--primary);
	border: 1px solid var(--primary);
	background: transparent;
}
