.reviewForm {
	display: grid;

	align-items: center;

	font-size: 14px;
	line-height: 24px;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 20px;
}

.formDescription textarea {
	min-height: 76px;
}

.submit,
.formDescription {
	grid-column: start / end;
}

.title {
	justify-self: left;
}

.info {
	margin-left: 15px;
}

.rating {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
}

.success,
.error {
	position: relative;

	margin-top: 20px;

	padding: 20px 40px 20px 20px;

	border-radius: 5px;
	background-color: var(--green-light);
}

.error {
	background-color: var(--red-light);
}

.successTitle {
	font-weight: bold;
}

.alertBtn {
	position: absolute;
	top: 20px;
	right: 20px;

	cursor: pointer;

	border: none;
	background: transparent;
}

.error .close path {
	stroke: var(--red);
}

@media screen and (max-width: 1142px) {
	.reviewForm {

		grid-template-columns: [start] 1fr 1fr [end];
	}

	.rating {
		grid-column: start / end;
	}

	.title {
		justify-self: normal;
	}
}

@media screen and (max-width: 920px) {
	.reviewForm {

		grid-template-columns: [start] 1fr [end];
	}

	.formInput input {
		width: 100%;
	}
}

@media screen and (max-width: 761px) {
	.reviewForm {
		grid-template-columns: [start] 1fr 1fr [end];
	}
}

@media screen and (max-width: 640px) {
	.reviewForm {
		grid-template-columns: [start] 1fr [end];
	}
}

@media screen and (max-width: 375px) {
	.info {
		display: block;

		margin-top: 10px;
		margin-left: 0;
	}
}
