* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);

	/* background-color: #E5E5E5; */

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

p {
	margin: 0;
}

.visuallyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

:root {
	--black: #3B434E;
	--gray: #A4A4A4;
	--gray-light: #EBEBEBEB;
	--gray-dark: #71767D;
	--white: #FFF;
	--primary: #7351F5;
	--primary-hover: #5F37FF;
	--red-light: #FFA292;
	--red: #FC836D;
	--green: #007B48;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans KR', sans-serif;
}
